@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@font-face {
  font-family: "Glacial Indifference";
  src: url("fonts/glacial-indifference/GlacialIndifference-Regular.otf")
    format("opentype");
}
@font-face {
  font-family: "Glacial Indifference";
  font-weight: bold;
  src: url("fonts/glacial-indifference/GlacialIndifference-Bold.otf")
    format("opentype");
}
@font-face {
  font-family: "Glacial Indifference";
  font-style: italic;
  src: url("fonts/glacial-indifference/GlacialIndifference-Italic.otf")
    format("opentype");
}

$font-family-base: "Open Sans", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";

.oa {
  font-family: "Glacial Indifference";
  font-weight: bold;
}

table {
  thead {
    tr {
      th:first-child {
        position: sticky;
        left: 0;
        z-index: 9999;
        background-color: white;
      }
    }
  }
  tbody {
    tr {
      td:first-child {
        position: sticky;
        left: 0;
        z-index: 9999;
        background-color: white;
      }
    }
  }
}
